$tablet: 768px;
$phone: 480px;

:root {
    --primary: #8c38ff;
    --light: #eeeeee;
    --dark: #212121;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "fira sans", sans-serif;
  }

.home-page-container {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    height: 40%;

}

.heading-home {
    font-variant: small-caps;
    color: rgb(252, 240, 240);
    text-decoration: none;
    position: absolute;
    padding: 1rem;
    border: 2px solid white;
    margin: 2rem ;
}

.home-page-photo {
    top: 0;
    left: 0;
    z-index: -1;
    height: 40%;
    width: 100%;
}

/* huge issues trying to get rid of border - this one answer helped https://stackoverflow.com/questions/36272710/background-image-and-position-relative-white-border */
body {
    margin: 0;
    border: 0;
    background: var(--dark);
    color: white;
}
  
  .container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 97;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 2px solid var(--primary);

  }
  
  h1 {
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .hamburger {
    display: block;
    position: relative;
    z-index: 1;
  
    user-select: none;
  
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
  
    background-color: var(--light);
    border-radius: 6px;
    z-index: 0;
  
    transform-origin: 0 0;
  
    transition: 0.4s;
  }
  
  .hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
      background-color: var(--primary);
  }
  
  .hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
  }
  
  .hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
  }
  
  .hamburger.is-active span:nth-child(3) {
    transform: translate(-3px,3px) rotate(-45deg);
  }
  
  .menu {
    display: none;
    flex: 1 1 0%;
    justify-content: space-between;
      margin: 0 -16px;
    
  }
  
  .menu a {
    color: #FFF;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
  }
  
  .menu a.is-active, .menu a:hover {
    background-color: var(--primary); 
  }
  
  .mobile-nav{
    display: block;
    /* mobile nav bar appears under photo and button */
    top: 13em;
    left: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--dark);
    padding-top: 20px;
    transition: 0.4s;
  }
  
  .mobile-nav.is-active {
    left: 0;
  }

  .mobile-nav a {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200%;
    margin: 0 auto 16px;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: var(--light);
    color: var(--primary);
    text-decoration: none;
  }
  @media screen (min-width:$tablet) {
    .hamburger {
    display: none 
    }
    .menu {
      display: flex;
    }
  
  
    
a:visited {
    color: var(--primary);
}

.intro-front-page {
    display: block;
    align-items: flex-start;
    left: 0;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.intro-front-page h2 {
    padding: 0 0 5px 0;
    text-decoration: underline 3px solid var(--primary);
}

/* body container */

.content-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}


.aboutme {
 width: 40%;   
 display: flex;
 align-items: center;

 flex-direction: row;
 width: 100%;
 gap: 1em;
 padding: 10vh 0;
}

#aboutme{
    width: 50vh;
    height: 30%;
    border: 3px solid var(--light);
}

.about-me {
  width: 100vh;
}

.about-me h2 {
    padding: 2px;
    margin: 2px;
    text-align: center;
    border-bottom: 2px solid var(--primary);
    text-transform: uppercase;
}

/* skills/skills image */
.content-container2 {
    display: flex;
    flex-flow: column wrap;
    margin: 2em;
}

.skills-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1em;
    padding: 0 0 10vh 0;
}

#skills {
    width: 50%;
    border: 1px solid white;
}

.skills h2{
    padding: 1em;
    border-bottom: 3px solid var(--primary);
    text-align: center;
}
/* contact form */
.contact-form {
    padding: 2vh 0;
    width: 100%;
    text-align: center;
}

.contact-form h3 {
  padding: 0 0 2vh 0;
}

input[type] {
    padding: 2vh;
    margin: 10px 0;
    border: 0;
    background-color: var(--dark);
    color: white;
}
    
::placeholder {
    color: var(--light);
}

input[type]:hover {
    box-shadow: 0 0 12px var(--primary);
}





@media screen (min-width:$tablet) {
    .content-container {
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
    }
    .aboutme {
    width: 40%;   
    display: flex;
    align-items: center;
  
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding: 10vh 0;
  }

body{
background: white;
}


@media screen (min-wdi

